/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/
/******************************
 Global CSS for ALL menu types
******************************/
/* line 15, ../sass/nice_menus.scss */
.block-nice-menus {
  line-height: normal;
  margin-left: 15em;
  margin-top: 1.5em;
}

/* line 24, ../sass/nice_menus.scss */
ul.nice-menu ul,
#header-region ul.nice-menu ul {
  position: absolute;
}

/* line 29, ../sass/nice_menus.scss */
ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
}

/* line 33, ../sass/nice_menus.scss */
ul.nice-menu {
  font-size: 1.1em;
}

/* line 37, ../sass/nice_menus.scss */
ul.nice-menu li {
  float: left;
  padding:10px;
  /* LTR */
}

/* line 41, ../sass/nice_menus.scss */
ul.nice-menu a {
  color: #FFF;
}

/* line 45, ../sass/nice_menus.scss */
ul.nice-menu a:hover {
  background-color: #4D4C68;
}

/* line 52, ../sass/nice_menus.scss */
ul.nice-menu ul li {
  background-color: #4D4C68;
}

/******************************
 HORIZONTAL (down) menus
******************************/
/* line 60, ../sass/nice_menus.scss */
ul.nice-menu-down {
  float: left;
  /* LTR */
}

/* line 64, ../sass/nice_menus.scss */
ul.nice-menu-down li {
  margin-left: 2em;
  margin-right: 2em;
}

/* line 69, ../sass/nice_menus.scss */
ul.nice-menu-down li li {
  width: 100px;
  font-size: 1em;
  padding-left: 50px;
}

/* line 78, ../sass/nice_menus.scss */
ul.nice-menu-down ul li {

}

/* line 98, ../sass/nice_menus.scss */
ul.nice-menu-down li.menuparent:hover {
  background-color: #4D4C68;
}

/* line 106, ../sass/nice_menus.scss */
ul.nice-menu-down li li.menuparent:hover {
  background-color: #4D4C68;
}
