/**
 * @file 
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

 /* Test */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

a {
	text-decoration: none;
	color:#0084CB;
}

p {
	font-size:1em;
	color:#58595B;
}

body {
	font-family:$lato;
}

/* SECTION HEADER STYLES*/
h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size:1.33em;
}

.nodisplay {
	display: none;
}

/*HEADER STYLES*/

#header {
	background-color: #E2E1E9;
	width:100%;
	padding-left:0em;
	padding-right:16px;
}

.logo {
	height:7em;
	padding-left: 15em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left:2.5em;
}

#header .catlinks {
	padding-left:8em;
	padding-top:2.5em;
}

.myaccount{
	background-color: #FBAF45;
	padding-left: 1.5em;
	padding-right:1.5em;
	border:none;
	font-size:1.25em;
	color:#fff;
	padding-bottom: 0.75em;
	padding-top: 0.75em;
	float:right;
	margin-top:1em;
	margin-right:5em;
}

.button {
	height: 3.5em;
	color:#58595B;
	background-color: #ccc;
	border:none;
}

.button:hover, .button:active {
	color:#fff;
	background-color: #58595B;
}

.searcharea {
	float:right;
	padding-top:2.5em;
	padding-right:15em;
	margin-right:2.5em;
}

#encoreSearchInput {
	height:3.5em;
	width:18em;
}

/*FOOTER STYLES AND SHARED STYLES */

#footer {
	background-color:#41C3DC;
}

#footer div, #header div{
	display: inline-block;
	vertical-align: top;
	color:#2f4f4f;
}

.bluebar {
	background-color: #0084CB;
	width:100%;
	padding:0;
	padding-right:1em;
}

#footer div {
	color:#FFF;
	font-size:1em;
}

#footer p {
	color:#FFF;
}

#footer div a {
	color:#FFF;
}

#footer div .address {
	color:#D3EEF4;
}

.footerlinks {
	float:right;
	margin: 2.5em;
	padding-right:15em;
}

.footerlinks div {
	padding-right:5em;
	padding-bottom:0.5em;
}

.icons {
	display: inline-block;
	height:28px;
	margin-left:2em;
}
	
.icons a {
     padding-right: 1em;
}

.fhours {
	margin:2.5em;
	padding-left:15em;
}

.fhours div {
	margin-left:2em;
}

// Announcement Region //
.announcement {
	background-color: #E9CBE2;
	padding:30px;
}

.ann {
	font-size:3em;
	padding-left:25%;
}

.annbody {
	font-size: 1.5em;
}

.anndiv {
	width:50%;
	margin:auto;
}

// MEDIA QUERIES //
@media (max-width: 1040px) {
	.myaccount {
		width:100%;
		display:block;
		padding:20px;
		margin:0;
	}	

	.footerlinks {
		padding-right:8em;
	}
}

@media (max-width:768px) {
	.footerlinks {
		padding-right:0;
	}

	.fhours {
		padding-left:0;
	}
}