/**
 * @file 
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

 /* Test */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

a {
	text-decoration: none;
	color:#0084CB;
}

p {
	font-size:1em;
	color:#58595B;
}

body {
	font-family:$lato;
}

/* SECTION HEADER STYLES*/
h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size:1.33em;
}

.nodisplay {
	display: none;
}

/*FOOTER AND HEADER STYLES */

#footer {
	background-color:#41C3DC;
}

#header {
	background-color: #E2E1E9;
}

#footer div, #header div{
	display: inline-block;
	padding:0.5em;
	vertical-align: top;
	color:#2f4f4f;
}

#footer div {
	color:#FFF;
}

#footer p {
	color:#FFF;
}

#footer div a {
	color:#FFF;
}

#footer div .address {
	color:#D3EEF4;
}

.logo {
	height:70px;
	padding-left: 1em;
	padding-top: 0.5em;
}

#header .catlinks {
	padding-left:8em;
	padding-top:2.5em;
}

.myaccount, .catsearch {
	@include gclsbutton;
}

.footerlinks {
	float:right;
	margin-right: 5em;
}

.icons {
	display: inline-block;
	height:28px;
	margin-left:0.75em;
}
	
.icons a {
     padding-right: 1em;
}

.fhours {
	margin-left:5em;
}